<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@jondavidjohn">
		<meta name="twitter:title" content="BubbleChart.js">
		<meta name="twitter:description" content="BubbleChart is a JavaScript module for comparative visualization of two dimensional data in a bubble chart.">
		<meta name="twitter:creator" content="@jondavidjohn">
		<link href='http://fonts.googleapis.com/css?family=Sniglet:800|Raleway:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/custom.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<title>Bubblechart by jondavidjohn{% if page.title %} | {{ page.title }} {% endif %}</title>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-44294607-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div id="container">
			<div class="inner">

				<header>
					<h1>BubbleChart</h1>
					<h2>BubbleChart is a JavaScript module for comparative visualization of two dimensional data in a bubble chart.</h2>
				</header>

				<div class="social-share">
					<iframe src="http://ghbtns.com/github-btn.html?user=jondavidjohn&repo=bubblechart&type=watch&count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jondavidjohn.github.io/bubblechart/" data-text="BubbleChart - A #JavaScript data visualization module." data-via="jondavidjohn" data-size="small" data-hashtags="javascript" data-dnt="true">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fjondavidjohn.github.io%2Fbubblechart%2F&amp;width=200&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
				</div>

				<section id="downloads" class="clearfix">
					<a href="https://github.com/jondavidjohn/bubblechart/releases/download/1.1.0/bubblechart-1.1.0.zip" id="download-zip" class="button"><span>Download .zip</span></a>
					<a href="https://github.com/jondavidjohn/bubblechart" id="view-on-github" class="button"><span>Fork on GitHub</span></a>
				</section>

				<hr>

				<nav>
					<ul>
						<li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Examples</a></li>
						<li{% if page.url != '/index.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/how-to-use/">How to use</a></li>
					</ul>
				</nav>

				<hr>

				<section id="main_content">
					{{ content }}
				</section>

				<hr>

				<nav>
					<ul>
						<li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Examples</a></li>
						<li{% if page.url != '/index.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/how-to-use/">How to use</a></li>
					</ul>
				</nav>

				<footer>
					BubbleChart is maintained by <a href="https://github.com/jondavidjohn">jondavidjohn</a><br>
					Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>, modified by <a href="https://twitter.com/jondavidjohn">jondavidjohn</a>
				</footer>
			</div>
		</div>
	</body>
</html>
